# python
venv/
__pycache__/
*.pyc

# node
node_modules/
dist/
build/

# env
.env

# system
.DS_Store

.env
.env.ingestion
*.dump
.provectus-install.json
compose.provectus-volume.json
provectus-backups/
